*{
    box-sizing: border-box;
    
}
ul{
    list-style-type: none;
}
li a{
    text-decoration: none;
    padding: 10px;
    color: white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
    
}
.imagetext img{
    width: 60%;
    height: 300px;
    border-radius: 10px;
}
.imagetext h1{
    padding-left: 30%;
    color: black;
}
.imagetext h1 span{
    color: gold;
}
ul{
    display: flex;
    padding: 10px;
    
    
}
.righttext{
    display: flex;
    color: yellow;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.navbar{
    display: flex;
    justify-content: space-around;
    background-color: rgb(4, 4, 34);
    position: sticky;
    top: 0;
    z-index: 1;
    
}
li a:hover{
    padding: 20px;
    color:black;
    background-color: red;
}


.anglesection{
    display: flex;
    color: grey;
    padding: 30px;
    position: relative;
    left: 60px;
    width: 90%;
}



.firstgeneralcontainer{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    
}
.firstsubdiv{
    width: 40%;
    padding-left:5% ;
    
}
.separatediv{
    display: flex;
}

.btc{
  position: relative;
  right: 10px;
}
.thirdsubdiv{
    position: relative;
    top: 70px;
    padding-right: 10%;
    width:30%;
}
/* .thirdsubdiv2{
    position: relative;
    top: 70px;
    padding-right: 10%;
    width:30%;
} */
.firsticongroup{
    color: rgb(49, 43, 43);
    font-size: 15px;
}
.bitcoincryp{
    display: flex;
}
.bitcoincryp input{
    color:goldenrod;
    background-color: rgba(8, 2, 2, 0.973);
    border-radius: 5px;
}
.groupfontawesome{
font-size: 15px;
font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
color: rgb(54, 44, 44);

    
}
.icon1{
    display: flex;
}
.icon2{
    display: flex;
}
.icon3{
    display: flex;
}   

.secondgeneralcontainer{
    display: flex;
    flex-wrap: wrap;
    padding-left: 10%;
}
/* .thirdsubdiv{
    position: relative;
    left: 30px;
    
} */
.secondcontainersecondsubdiv{
    position: relative;
    left: 13%;
    width: 32%;
}

.hi{
    display: flex;    
}
.thirdgeneralcontainer{
    display: flex;
    width: 100%;
}
.thirdsubdiv2{
    display: flex;
    width: 100%;
}
.secondicongroup{
    border-bottom: 1px solid black;
    padding-bottom: 40%;
    display: block;
}
.fourthgeneralcontainer{
    display: flex;
}
.fifthgeneralcontainer{
    display: flex;
}
.sixthgeneralcontainer{
    display: flex;
}
.footer{
    display: flex;
    justify-content: space-around;
    position: relative;
    padding-top: 100px;
    background-color: rgb(24, 24, 78);
    

}
.footer i:hover{
    color: aqua;
    
}
.footertext{
        display: flex;
        color: yellow;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        

}
.footer a{
    text-decoration:none;
}
.footernavbar{
    position:relative;
    left: 40%;
    padding-top: 50px;
    width: fit-content;
}
.secondgeneralcontainer img{
   position: relative;
   top: 30px;
   border-radius: 20%;
   height: 300px;
   width: 25%; 
}
.secondcontainersecondsubdiv img{
    width: 60%;
    height: 300px;
    border-radius: 10px;
}


@media(max-width:768px){
    .thirdsubdiv{
        position: unset;
    width: 100%;
    flex-wrap: wrap;
    padding: 16% 15%;
    }
    .firstsubdiv{
        width: 100%;
    }
    .secondgeneralcontainer img{
    width: 89%;
    }
}
.footer{
    flex-wrap: wrap;
    justify-content: space-around;
}
.secondcontainersecondsubdiv img{
    width: 239px;
}
@media(max-width:1100px){
    ul{
        display: flex;
        flex-wrap: wrap;
    }
    .thirdsubdiv{
        display: flex;
        flex: wra;
    }
    .firstgeneralcontainer{
        display: flex;
        flex-wrap: wrap;
    }
    .imagetext{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        
    }
    .imagetext img{
        width: 100%;
    }
    .secondsubdiv h2{
        width: 100%;

    }

    .navbar image{
        display: flex;
    }
    .navbar{
        display: flex;
        flex-wrap: wrap;
        background-color: orange;
    }
    .righttext{
        display: flex;
        flex-wrap: wrap;
        background-color: red;
        color: gray;
    }
    li a:hover{
        padding:2px;
        color:red;
        background-color: green;
    }
}

@media(max-width:768px){
    .imagetext h1{
        
        padding-left: 0px;
        width: 100%;   
    }
    
}